<section id="record">
<div>
    <button bs-button="icon-left inline" ng-click="ctrl.clickStart()" ng-disabled="ctrl.isStarted">
    <svg bs-svg-icon><use xlink:href="#svg-target"></use></svg>
    Start
</button>
    <button bs-button="icon-left inline" ng-click="ctrl.clickStop()" ng-disabled="!ctrl.isStarted">
    <svg bs-svg-icon><use xlink:href="#svg-circle-pause"></use></svg>
    Stop
</button>
</div>
<div ng-repeat="record in ctrl.records | orderBy: '-key' ">

    <div bs-button-row>
        <span>
        Record Id: {{ record.key | date : 'medium'}}
        <button bs-button="icon-left inline" ng-click="ctrl.clickPlay(record.key)" ng-disabled="ctrl.isStarted">
            <svg bs-svg-icon><use xlink:href="#svg-circle-play"></use></svg>
            Play
        </button>
        </span>
    </div>
</div>
</section>